#tictacSec {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 100vh;
  font-size: 7rem;
}

.verticalLine {
  border-left: 10px solid black;
  border-right: 10px solid black;
  padding: 0rem 2rem 0rem 2rem;
  min-width: 10rem;
}

.horizontalLine {
  padding: 0rem 2rem 0rem 2rem;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  min-width: 10rem;
}

.nonLine {
  padding: 0rem 2rem 0rem 2rem;
}

.popUp {
  margin: 2.5rem 0rem 0rem 1rem;

  font-size: 1.2rem;
  height: 300px;
  width: 400px;
}
